.enc-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.enc-td, .enc-th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.enc-tr:nth-child(even) {
  background-color: #dddddd;
}