$mainColor: #BADA55;
$boxColor: rgb(202, 202, 202);

.login-container {
  background-image: url(https://i.imgur.com/TwFh5BA.jpg);
  background-size: cover;
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box{
    background-color: $boxColor;
    box-shadow: 1px 5px 5px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    
    
    form{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }
    input{
      margin-bottom: 10px;
      border: none;
    }
    button{
      margin: 5px;
    }
    h4{
      text-align: center;
    }
  }
}

