$mainColor: #BADA55;
$boxColor: rgb(202, 202, 202);



.login-container {
  background-image: url(https://i.imgur.com/TwFh5BA.jpg);
  background-size: cover;
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box{
    background-color: $boxColor;
    box-shadow: 1px 5px 5px black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    
    
    form{
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      }
    input{
      margin-bottom: 10px;
      border: none;
    }
    button{
      margin: 5px;
    }
    h4{
      text-align: center;
    }
  }

}

.about-container{
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  // .about-text-container{
  //   width: 80vw;
  //   display: flex;
  // flex-direction: column;
  // }
  h1{
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
  }
  p{
    font-size: larger;
  }

}

.video-container{
  background-color: rgb(240, 238, 238);
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  // .about-text-container{
  //   width: 80vw;
  //   display: flex;
  // flex-direction: column;
  // }
  h1{
    text-align: center;
    font-size: 50px;
    padding: 20px;
  }
  p{
    font-size: larger;
  }
  iframe{
    margin-bottom: 50px;
  }

}
