$mainColor: #BADA55;
$boxColor: rgb(202, 202, 202);

.login-container {
  background-color: $mainColor;
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box{
    background-color: $boxColor;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    input{
      margin-bottom: 10px;
    }
    h4{
      text-align: center;
    }
  }
}

