$mainColor: #BADA55;
$boxColor: cyan;

.login-container {
  background-color: $mainColor;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-box{
    background-color: $boxColor;
    box-sizing: border-box;
    height: 100px;
    width: 300px;
  }
}

