.patientlist-container{
  font-family: 'open sans', sans-serif;
  font-size: 16px;
  display: flex;
  min-height: 500px;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  background-color: rgb(66, 110, 180);
  h1{
    color: white;
  }
}

.searchbar-container{
  height: 50px;
  display: flex;

}

.patientlist-header{
  width: auto;
  height: 50px;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  .newpatient-btn{
    margin-right: 50px;
  }
  .searchbar{
    // width: 400px;
    display: flex;
    // justify-content: space-around;
  }
  h4{
    margin: 0;
    margin-right: 10px;
  }
  input{
    width: 200px;
  }
  

}


table {
  width: 80vw;
  overflow: scroll;
  border-collapse: collapse;
  background-color: rgb(241, 240, 240);
  
}

thead th {
  text-align: center;
  border-bottom: 2px solid black;
  position: sticky;
  top: 0;
  background-color: white;
  button {
    border: 0;
    border-radius: 5%;
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    padding: 0.5em;
    margin-bottom: 1px;
    background-color: grey;
    color: white;

  }
  a{
    color: white;
    text-align: center;
  }
}



/* thead button.ascending::after {
  content: '';
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: '';
  display: inline-block;
  margin-left: 1em;
} */

tbody{
  
  td{
    text-align: center;
    padding: 0.5em;
    // border-bottom: 1px solid #ccc; 
    box-sizing: border-box;
    text-decoration: none;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5em;
    // text-decoration: none;
    color: black;
  }
  
}

tbody tr:hover {
  background-color: rgb(185, 185, 185);
}

.patient-table-container{
  height: 600px;
  overflow: auto;
  margin-bottom: 50px;
  ::-webkit-scrollbar {
    display: none;
}
}
